
a {color: #111111;}
a:hover {cursor: ne-resize; color: #D6D7D8;}

.Title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: bolder;
    align-content: center;
    letter-spacing: -.15rem;
    line-height: -5rem;
    padding: 5vw 9vw 3vw 7vw;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: .85s;
}

.name {
    transform: translateX(45%);
    top: 20%;
    position: absolute;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 1.5vw;
    text-decoration: none;
}


.gif {
    
    width: 4vw;
    height: 4vw;
}



@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 5%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}



@media screen and (max-width:1260px) {
    .Title {
        font-size: calc(20px + 10 * (100vw - 1260px) / 1260);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: -.06rem;
        line-height: -5.5rem;
    }
    .name {
        transform: translateX(43%);
        top: 25%;
        position: absolute;
        font-size: 4vw;
    }
    .gif {
        margin-top: 4px;
        width: 8vw;
        height: 8vw;
    }
    .about {
    position: relative;
}   

    .list {
        font-size: 1.8vw;
    }
    
}

@media screen and (min-width:740px) {
    .Title {
        font-size: 2.5vw;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .name {
        transform: translateX(55%);
        top: 25%;
        position: absolute;
        font-size: 2.3vw;
    }
    .gif {
        width: 6vw;
        height: 6vw;
    }
    
    .list {
        font-size: 1.8vw;
    }

}



.about {
    position: relative;
}

.list {
    display: flex;
    list-style-type: none;
    font-size: 1.5vw;
    font-family: "SourceCodePro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-left: 0;
}

.list-first {
    padding-left: 0;
}

li {
    display: flex;
    padding-left: 1.4vw;
    padding-top: 2em;
    font-size: 1.2em;
    list-style-type: disc;
    letter-spacing: .15em;
}

li a {
    text-decoration: none;
}

.underline {
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    
}

.underline:after {
    content: "";
    position: absolute;
    bottom: -.01em;
    right: 0;
    left: 0;
    height: 4px;
    background: #D6D7D8;
    z-index: -1;
}

.cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #D6D7D8;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #A9A9A9;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

.cursor2 {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #A9A9A9;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}

.content:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #A9A9A9;
    opacity: .5;
}

.content:hover ~ .cursor {
    opacity: 0;
} 