/* @font-face {
    font-family: "CircularStd";
    src:url("CircularStd-Bold.woff2") format("woff2"), url("CircularStd-Bold.otf") format("opentype");
    font-style: normal;font-weight: 600;
} */

@font-face {
    font-family: "CircularStd";
    src: url("CircularStd-Book.woff2") format("woff2"), url("CircularStd-Book.otf") format("opentype");
    font-style: normal;font-weight: 400;
}

@font-face {
    font-family: "WilliamRegularItalic";
    src:url("WilliamRegularItalic.woff2") format("woff2"), url("WilliamRegularItalic.otf") format("opentype");
    font-style: normal;font-weight: 500;
}

@font-face {
    font-family: 'CircularStd';
    src: local('Circular Std Bold'), local('CircularStd-Bold'),
        url('CircularStd-Bold.woff2') format('woff2'),
        url('CircularStd-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
