  
@font-face {
    font-family:"SourceCodePro";
    src:url("SourceCodePro-Regular.otf.woff2") format("woff2"),url("SourceCodePro-Regular.otf.woff") format("woff"),url("SourceCodePro-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        